/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(#d9d9d9, #a6a6a6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 12px 24px;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Logo */
.logo-img {
  height: 70px; /* Ajuste o tamanho da logo conforme necessário */
  width: auto;
}

/* Caixa de login */
.login-container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
  margin-top: 100px; /* espaço por causa do header */
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.login-container label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.btn-login {
  background: #52cc74;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #52cc74;
}

.signup-link {
  margin-top: 12px;
  font-size: 13px;
}

.signup-link a {
  color: #52cc74;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

